{% include "include/head.html" %}
    <nav>
        <button class="prev"><a href="/"><i class="fa-solid fa-angle-left fa-2xl" style="color: #ff5d2d;"></i></a></button>
    </nav>
    <section>
    <a href="/setting/infoModify">회원정보수정</a>
    <a href="/setting/healthModify">건강정보수정</a>
    <a href="/setting/tastedataModify">입맛정보수정</a>
    <a href="/setting/tastedataShare">입맛데이터공유</a>
    <a href="/setting/alarmSetting">알람설정</a>
    <a href="/setting/appsetting">앱설정</a>
    <a href="/setting/notice">공지사항</a>
    <a href="/setting/feedback">피드백</a>
    <a href="/login/view">로그아웃</a>
    <a href="/setting/user_leave">탈퇴</a>
    </section>
{% include "include/footer.html" %}