<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입맛저격! 뭐먹지?</title>

    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/script.js"></script>
    <script src="https://kit.fontawesome.com/a6772218e8.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #ff5d2d;">
<main>
    <section>
        <img src="/assets/img/logo_fff.png" alt="로고">
    </section>
    <footer>
    ⓒ2025, 경인여대 소프트웨어융합학과 모짜조
    </footer>
{% include "include/footer.html" %}