{% include "include/head.html" %}
        <section>
        <img class="loginlogo" src="/assets/img/logo.png" alt="로고">
        <div class="loginview">
        <div class="logintxt">
                <h6>안녕하세요!</h6>
                <h4>[입맛저격! 뭐먹지]</h4>
                <h5>에 오신걸 환영합니다.</h5>
        </div>
        <div class="login">
                <button><a href="/login/login">로그인</a></button>
                <button>구글로 로그인</button>
                <button>네이버로 로그인</button>
        
                <p>처음오셨나요?</p>
                <button><a href="/signup/step1/info">가입하기</a></button>
        </div>
        </div>
        </section>
{% include "include/footer.html" %}